<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.Title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet" />
  <link href="/static/style/main.css" rel="stylesheet" />
</head>
<body>
  <nav>
    <a class="back" href="javascript:backClick()">Go Back</button>
    <script>
    function backClick() {
        // Check if the referrer is from the same domain
        if (document.referrer && document.referrer.indexOf('about.ghov.net') >= 0) {
            history.go(-1);
        } else {
            // If not from the same domain, go to the homepage
            window.location.href = '/';
        }
        return false;
    }
    </script>
    <ul>
      <li><a href="/" class="glitch" data-text="About Me">About Me</a></li>
      <li><a href="/classes/" class="glitch" data-text="Classes">Classes</a></li>
      <li><a href="/projects/" class="glitch" data-text="Projects">Projects</a></li>
      <li><a href="/contact/" class="glitch" data-text="Contact">Contact</a></li>
    </ul>
  </nav>
  <main id="content">{{.Body}}</main>
  <script src="/static/script/typewriter.js"></script>
  <script>
    const markdown = document.getElementById('content');
    const html = document.createElement(markdown.tagName);
    markdown.replaceWith(html);
    typeElement(markdown, html, 8);
  </script>
</body>
</html>

