<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.Title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet" />
  <link href="/static/style/main.css" rel="stylesheet" />
  <script src="/static/script/typewriter.js"></script>
  <nav>
    <ul>
      <li><a href="/" class="glitch" data-text="About Me">About Me</a></li>
      <li><a href="/classes/" class="glitch" data-text="Classes">Classes</a></li>
      <li><a href="/projects/" class="glitch" data-text="Projects">Projects</a></li>
      <li><a href="/contact/" class="glitch" data-text="Contact">Contact</a></li>
    </ul>
  </nav>
</head>
<body>
  <main class="typewriter">{{.Body}}</main>
</body>
</html>

